<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tag.description %>
</p>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_tag_path(@tag) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', :back %></button>
</div>
