<p id="notice"><%= notice %></p>

<h1>Listing Researchers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @researchers.each do |researcher| %>
      <tr>
        <td><%= link_to 'Show', researcher %></td>
        <td><%= link_to 'Edit', edit_researcher_path(researcher) %></td>
        <td><%= link_to 'Destroy', researcher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Researcher', new_researcher_path %>
